{% extends 'base.html.twig' %}

{% block body %}
{% for publication in publications %}
<dl>
<dt>Tytuł</dt>
<dd>{{ publication.title }}</dd>
<dt>Kategoria</dt>
<dd>{{ publication.category.name }}</dd>
<dt>Autorzy</dt>
<dd>{% for author in publication.authors %} {{ author.name }} {% endfor %}</dd> 
</dl>
{% endfor %}
{% endblock %}
